<aside class="docs-nav-mobile unit whole show-on-mobiles">
    <button>Navigate the docs +</button>
    <h4>Getting started</h4>
      {% include docs_option.html items='home quickstart installation usage structure configuration' %}
    <h4>Your Content</h4>
      {% include docs_option.html items='frontmatter posts drafts pages variables datafiles migrations' %}
    <h4>Customization</h4>
      {% include docs_option.html items='templates permalinks pagination plugins extras' %}
    <h4>Deployment</h4>
      {% include docs_option.html items='github-pages deployment-methods' %}
    <h4>Miscellaneous</h4>
      {% include docs_option.html items='troubleshooting sites resources upgrading' %}
    <h4>Meta</h4>
      {% include docs_option.html items='contributing history' %}
</aside>
